.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sec1 {
    font-size: 14px;
    width: 200%;
    margin-left: 4vw;

}

.voltar {
    width: 10vh;
    height: 4vh;
    margin-top: 1.5vh;
    justify-content: center;
    text-align: center;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 500;
    margin-left: 4vw;
}

/*Sidenav css start*/
mat-sidenav a:hover {
    background-color: #20295B;
    color: white;
}

mat-sidenav a {
    padding: 14px 10px;
    flex: auto;
    color: white;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.box {
    background: #3F51B5;
}

h1 {
    display: flex;
    justify-content: center;
}

mat-nav-list {
    overflow: hidden;

}

.meio {
    vertical-align: middle;
    font-size: 24px;
    padding-left: 5%;
}

.push {
    margin-top: auto;
}

.absolute {
    position: absolute;
    bottom: 0;

    width: auto;
    text-align: center;
}

.absolute a:hover {
    width: 125px;
}

table {
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
}

.grand-parent {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}


.mat-form-field {
    font-size: 14px;
    width: 85%;
    margin-right: 7vw;

}

/*Sidenav css end*/