<nav>
    <a routerLink="/login"> Login</a>
    <br>
    <a routerLink="/cliente-home"> Cliente-home</a>
    <br>
    <a routerLink="/shopping-cart"> Cliente-Shopping-cart</a>
    <br>
    <a routerLink="/debit-card"> Cliente-Debit-card</a>
    <br>
    <a routerLink="/cliente-profile-page"> Cliente-profile-page</a>
    <br>
    <a routerLink="/products"> Admin-products</a>
    <br>
    <a routerLink="/sales"> Admin-sales</a>
    <br>
    <a routerLink="/users"> Admin-users</a>
    <br>
    <a routerLink="/admin-profile-page"> Admin-profile-page</a>
</nav>

<router-outlet></router-outlet>