<html>

<div class="grand-parent">
    <div class="container">
        <form class="login-form" [formGroup]="userForm">
            <h1>Login</h1>
            <mat-form-field class="teste" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" maxlength="100" matInput formControlName="email" name="email">
                <mat-error *ngIf="userForm.get('email')?.errors?.required">Favor preencher Email</mat-error>
                <mat-error *ngIf="userForm.get('email')?.errors?.minLenght">Favor preencher Email corretamente
                </mat-error>
                <mat-error *ngIf="userForm.get('email')?.errors?.maxLenght">Favor preencher Email corretamente
                </mat-error>

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input id="passwordInput" matInput [type]="showPassword ? 'text' : 'password'" matInput
                    formControlName="password" name="password">
                <mat-error *ngIf="this.userForm.controls.password.hasError">Favor preencher senha</mat-error>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
            </mat-form-field>
            <button (click)="loginRoute()" mat-raised-button type="submit" color="primary">Entrar</button>

            <a id="registerBtn" mat-button routerLink="/register">Não tem conta? Cadastre-se!</a>
        </form>
    </div>
</div>

</html>