<html>
<mat-toolbar class="navbar">
    <a mat-button routerLink="/cliente-profile-page">Fulano<mat-icon class="meio">account_circle</mat-icon></a>
    <a mat-button routerLink="/cliente-home">Home <mat-icon class="meio">home</mat-icon></a>
    <h1 class="center">
        <mat-icon>eco</mat-icon>Magali
    </h1>
    <div class="spacer"></div>
    <a mat-button routerLink="/shopping-cart">
        <mat-icon class="meio">shopping_cart</mat-icon> Carrinho
    </a>
    <a mat-list-item (click)="logOut()" routerLink="/login">Sair</a>

    <router-outlet></router-outlet>
</mat-toolbar>

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let shop of getCart()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{shop.product.name}}
                </mat-panel-title>
                <mat-panel-description>
                    Modifique seu pedido
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
                <mat-label placeholder="1">Quantidade</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </mat-accordion>


</html>