<html>
<app-navbar></app-navbar>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let product of dataSource">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{product.name}}
            </mat-panel-title>
            <mat-panel-description>
                Modifique seu pedido
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
            <mat-label placeholder="1">Quantidade</mat-label>
            <input matInput type="number" min="1">
        </mat-form-field>

        <p>Total deste item:</p>
        <p class="price">R$ 345,00</p>

    </mat-expansion-panel>
</mat-accordion>

<p class="totalAmountText">Subtotal do carrinho:</p>
<p class="totalAmount">R$ 145,00</p>

<div class="shopButton">
    <a mat-raised-button color="primary" target="_blank" (click)="purchase('123')">Comprar</a>
</div>

</html>