.navbar{
    background-color: grey;
    overflow: hidden;
    
}
.spacer {
    flex: 1 1 auto;
}


.navbar a {
    padding: 14px 16px;
    
    color: antiquewhite;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: darkgoldenrod;
    color: black;
}


.navbar h1.center{
    font-family:cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    flex: 20;
}

.meio{
    vertical-align: middle;
    font-size: 24px;
}