html {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.grand-parent {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 35vw;
}

.toggle {
    display: flex;
    justify-content: center;
}

.saveButton {
    display: flex;
    justify-content: center;
}

.button {
    width: 4vw;
}


.msgEditDisplay {
    color: green;
}

mat-error {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}