<html>
<mat-toolbar class="navbar">
    <a mat-button routerLink="/cliente-profile-page">Fulano<mat-icon class="meio">account_circle</mat-icon></a>
    <a mat-button routerLink="/cliente-home">Home <mat-icon class="meio">home</mat-icon></a>
    <h1 class="center">
        <mat-icon>eco</mat-icon>Magali
    </h1>
    <div class="spacer"></div>
    <a mat-button routerLink="/shopping-cart">
        <mat-icon class="meio">shopping_cart</mat-icon> Carrinho
    </a>
    <a mat-list-item (click)="logOut()" routerLink="/login">Sair</a>

    <router-outlet></router-outlet>
</mat-toolbar>

<h1>Cliente Profile Page</h1>


<div class="toggle">
    <mat-button-toggle-group #whatUser="matButtonToggleGroup" name="whatUser" aria-label="Favorite Color">
        <mat-button-toggle (click)="editProfile()" value="esse">Editar perfil</mat-button-toggle>

        <mat-button-toggle (click)="myShops()" value="Meus pedidos">Meus pedidos</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<body>
    <div *ngIf="editProfileDisplay">
        <div class="grand-parent">
            <div class="container">
                <form class="register-form" [formGroup]="userEditForm">
                    <mat-form-field class="seu-nome" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Nome" maxlength="35" matInput formControlName="name"
                            name="password">
                        <mat-error *ngIf="this.userEditForm.controls.name.hasError">Favor fornecer nome</mat-error>
                    </mat-form-field>
                    <mat-form-field class="seu-email" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" maxlength="55" matInput formControlName="email"
                            name="password">
                        <mat-error *ngIf="this.userEditForm.controls.email.hasError">Favor preencher email corretamente
                        </mat-error>
                        <mat-error *ngIf="userEditForm.get('email')?.errors?.email"></mat-error>
                    </mat-form-field>
                    <mat-form-field class="sua-senha" appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'" maxlength="20" matInput
                            formControlName="password" name="password" placeholder="currUserPassword">
                        <mat-error *ngIf="this.userEditForm.controls.password.hasError">Favor fornecer senha</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <mat-error class="msgEditDisplay" *ngIf="msgEditDisplay">Informações alteradas com sucesso!</mat-error>

        <div class="saveButton">
            <a mat-raised-button color="primary" (click)="saveEdit()" target="_blank" class="button">Salvar</a>
            <!-- <p *ngIf="msgEditDisplay" class="msgEditDisplay">Informações alteradas com sucesso!</p>
            <p *ngIf="msgCpfDontExist" class="msgCpfDontExist">CPF não existente!</p> -->
        </div>
    </div>
    <div *ngIf="myShopsDisplay">

        <p>MEUS PEDIDOS PORRA</p>

    </div>
</body>

</html>