<div class="example-container">

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav class="box" [opened]=true mode="push" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/products">Produtos<mat-icon class="meio">store</mat-icon></a>
        <a mat-list-item routerLink="/sales">Vendas<mat-icon class="meio">attach_money</mat-icon></a>
        <div class="absolute"><a mat-list-item (click)="logout()" routerLink="/login">Sair</a></div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1>Admin Sales</h1>

      <table mat-table [dataSource]="shops" class="table">

        <ng-container matColumnDef="codigoSale">
          <th mat-header-cell *matHeaderCellDef> Código da venda </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quantidade de produtos </th>
          <td mat-cell *matCellDef="let element"> {{element.items.length}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome do usuário </th>
          <td mat-cell *matCellDef="let element"> {{(element.name)}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail do usuário </th>
          <td mat-cell *matCellDef="let element"> {{(element.email)}} </td>
        </ng-container>

        <ng-container matColumnDef="CPF">
          <th mat-header-cell *matHeaderCellDef> CPF do usuário </th>
          <td mat-cell *matCellDef="let element"> {{formatCPF(element.CPF)}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Valor total </th>
          <td mat-cell *matCellDef="let element"> {{formatPrice(element.total)}} </td>
        </ng-container>


        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> Informações </th>
          <td mat-cell *matCellDef="let i=index">
            <button class="removeBtn" type="button">+</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data</td>
        </tr>

      </table>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>