<html>
<h1>Register</h1>

<table>
    <tr>
        <td><label>Nome </label></td>
        <td><input></td>
    </tr>
    <tr>
        <td><label>CPF </label></td>
        <td><input></td>
    </tr>
    <tr>
        <td><label>Senha </label></td>
        <td><input></td>
    </tr>
    <tr>
        <td><label>Email </label></td>
        <td><input></td>
        <td><button>Cadastrar</button></td>
    </tr>
    <tr>
        <a routerLink="/login">Fazer login!</a>
    </tr>
    <div>
        <input type="checkbox" id="promocoes" name="promocoes"
               checked>
        <label for="promocoes">Receber promoções no email</label>
    </div>
</table>

</html>