<html>
<div class="grand-parent">
    <div class="cointainer">
        <form class="register-form" [formGroup]="userForm">
            <h1>Faça seu cadastro</h1>
            <mat-form-field class="seu-email" appearance="fill">
                <mat-label>Email</mat-label>
                <input id="emailInput" matInput placeholder="Ex. meunome@gmail.com" maxlength="55" matInput
                    formControlName="email" name="email">
                <mat-error *ngIf="this.userForm.controls.email.hasError">Favor preencher email corretamente</mat-error>
                <mat-error *ngIf="userForm.get('email')?.errors?.email"></mat-error>

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input id="passwordInput" matInput [type]="showPassword ? 'text' : 'password'" maxlength="20" matInput
                    formControlName="password" name="password">
                <mat-error *ngIf="this.userForm.controls.password.hasError">Favor fornecer senha de no mínimo 6
                    caracteres</mat-error>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
            </mat-form-field>
            <a id="btnSubmit" mat-raised-button color="primary" (click)="createUser()" target="_blank">Cadastrar</a>
            <a mat-button routerLink="/login">Fazer login!</a>
        </form>
    </div>
</div>

</html>