table {
    width: 90%;
    margin-left: 4vw;
    margin-right: auto;
}


.sec1 {
    font-size: 14px;
    width: 90%;
    margin-left: 4vw;
    display: inline-flex;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-right: 7vw;

}


mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 2vw;

}

.content>mat-card {
    margin-bottom: 2vw;
}

.image-photo {
    max-width: 100%;
    height: auto;
    width: auto;

    padding-left: 1vw;
}

.price {
    color: black;
    font-size: large;
    font-weight: bold;
}

.stock {
    color: black;
    font-size: medium;
    font-weight: bold;
}