<html>
<mat-toolbar class="navbar">
    <a mat-button routerLink ="/cliente-profile-page">Fulano<mat-icon class="meio">account_circle</mat-icon></a>
    <a mat-button routerLink ="/cliente-home" >Home <mat-icon class="meio">home</mat-icon></a>
    <h1 class ="center"><mat-icon>eco</mat-icon>Magali</h1>
    <div class="spacer"></div>
    <a mat-button routerLink="/shopping-cart" ><mat-icon class="meio">shopping_cart</mat-icon> Carrinho</a>
    <a mat-button routerLink="/login">Sair</a>

<router-outlet></router-outlet>
</mat-toolbar>

<h1>Cliente Home</h1>
<p>Adicione um nome abaixo</p>
<input type="text" [(ngModel)]="nome">
<button (click)="adicionarNome()">Adicione um nome</button>

<ul *ngFor="let nome of listarNomes();index as i">
    <li>{{nome}}</li>
    <button (click)="removerNome(i)">Remover nome</button>
</ul>
</html>