.navbar{
    background-color: grey;
    overflow: hidden;
    
}
.spacer {
    flex: 1 1 auto;
}


.navbar a {
    padding: 14px 16px;
    
    color: antiquewhite;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: darkgoldenrod;
    color: black;
}


.navbar h1.center{
    font-family:cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    flex: 20;
}

.meio{
    vertical-align: middle;
    font-size: 24px;
}

table {
    width: 90%;
    margin-left: 4vw;
    margin-right: auto;
}


.sec1 {
    font-size: 14px;
    width: 90%;
    margin-left: 4vw;
    display: inline-flex;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-right: 7vw;

}

p{
    color: green;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 2vw;

}

.content > mat-card {
    margin-bottom: 2vw;
}

.image-photo {
    max-width: 100%;
    height: auto;
    width: auto;

    padding-left: 1vw;
}