table {
    width: 90%;
    margin-left: 4vw;
    margin-right: auto;
}


.sec1 {
    font-size: 14px;
    width: 90%;
    margin-left: 4vw;
    display: inline-flex;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-right: 7vw;

}

p{
    color: green;
    margin-left: 4vw;
}