<html (mousemove)="onMove()">
<app-navbar></app-navbar>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
      *ngFor="let product of availableProducts; index as i;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="image-photo" src="\assets\images\product-image.png">
        <mat-card-content>
          <p class="price">
            {{formatPrice(product.price)}}
          </p>
          <p class="stock">
            {{product.stock}} produtos disponíveis
          </p>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="addToCart" (click)="addToCart(i)" mat-button class="buttonAddProduct">Adicionar ao
            carrinho</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

</html>