<html (mousemove)="onMove()">
<app-navbar></app-navbar>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
      *ngFor="let product of availableProducts; index as i;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="image-photo" src="\assets\images\product-image.png">
        <!-- "\assets\images\pc-gamer.jpg" -->
        <mat-card-content>
          <p class="price">
            {{formatPrice(product.price)}}
          </p>
          <p class="stock">
            {{product.stock}} produtos disponíveis
          </p>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="addToCart" (click)="addToCart(i)" mat-button class="buttonAddProduct">Adicionar ao
            carrinho</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="sec1">
        <mat-form-field appearance="standard">
        <mat-label>Procurar por produto</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input class="filter">
        </mat-form-field>
    </div>

    <p *ngIf="msgAddShopDisplay">
        Item adicionado ao carrinho com sucesso!
      </p>

    <table mat-table [dataSource]="dataSourceProducts" class="table">


        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome do produto </th>
        <td mat-cell *matCellDef="let element"> {{(element.name)}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço unitário </th>
        <td mat-cell *matCellDef="let element"> {{formatPrice(element.price)}} </td>
        </ng-container>

        <ng-container matColumnDef="carrinho">
            <th mat-header-cell *matHeaderCellDef> Adicionar ao carrinho </th>
            <td mat-cell *matCellDef="let i=index">
              <button class="removeBtn" type="button" (click)="addProductToCart(getcodefromIndex(i))">Adicionar</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

    </table> -->

</html>