<div class="example-container">

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav class="box" [opened]=true mode="push" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin-profile-page">Fulano<mat-icon class="meio">account_circle</mat-icon></a>
        <a mat-list-item routerLink="/products">Produtos<mat-icon class="meio">store</mat-icon></a>
        <a mat-list-item routerLink="/sales">Vendas<mat-icon class="meio">attach_money</mat-icon></a>
        <div *ngIf="isAdmin">
          <a mat-list-item routerLink="/users">Usuários <mat-icon class="meio">event_note</mat-icon></a>
        </div>
        <div class="absolute"><a mat-list-item (click)="logOut()" routerLink="/login">Sair</a></div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <h1>Admin Products</h1>
      <button mat-raised-button type="submit" color="primary" class="addProduct" [routerLink]="'/add-product'">Adicionar
        Produto</button>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>