.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

.addProduct {
    height: 3vh;
    margin-top: 1.5vh;
}

h1 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 500;
    margin-left: 4vw;
}

.voltar {
    height: 3vh;
    margin-top: 1.5vh;
}



.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}



/*Sidenav css start*/
mat-sidenav a:hover {
    background-color: darkgoldenrod;
    color: black;
}

mat-sidenav a {
    padding: 14px 10px;
    flex: auto;
    color: antiquewhite;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.box {
    background: grey;
}

mat-nav-list {
    overflow: hidden;

}

.meio {
    vertical-align: middle;
    font-size: 24px;
    padding-left: 5%;
}

.push {
    margin-top: auto;
}

.absolute {
    position: absolute;
    bottom: 0;

    width: auto;
    text-align: center;
}

.absolute a:hover {
    width: 125px;
}

table {
    width: 90%;
    margin-left: 4vw;
    margin-right: auto;
}


.sec1 {
    font-size: 14px;
    width: 90%;
    margin-left: 4vw;
    display: inline-flex;
}

.mat-form-field {
    font-size: 14px;
    width: 85%;
    margin-right: 7vw;

}

.addUser {
    height: 3vh;
    margin-top: 1.5vh;
}

/*Sidenav css end*/