<div class="example-container">

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav class="box" [opened]=true mode="push" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin-profile-page">Fulano<mat-icon class="meio">account_circle</mat-icon></a>
        <a mat-list-item routerLink="/products">Produtos<mat-icon class="meio">store</mat-icon></a>
        <a mat-list-item routerLink="/sales">Vendas<mat-icon class="meio">attach_money</mat-icon></a>
        <a mat-list-item routerLink="/users">Usuários <mat-icon class="meio">event_note</mat-icon></a>
        <div class="absolute"><a mat-list-item (click)="logOut()" routerLink="/login">Sair</a></div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1>Admin Users</h1>
      <div class="sec1">
        <button mat-raised-button type="submit" color="primary" class="addUser" [routerLink]="'/add-user'">Adicionar
          usuário</button>
      </div>

      <table mat-table [dataSource]="dataSrc" matSort class="table">

        <ng-container matColumnDef="auth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de usuário </th>
          <td mat-cell *matCellDef="let element"> {{element.auth}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="CPF">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
          <td mat-cell *matCellDef="let element"> {{formatCPF(element.CPF)}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Deletar </th>
          <td mat-cell *matCellDef="let i=index">
            <button class="removeBtn" type="button" (click)="deleteUser(getCPFfromIndex(i))">x</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data </td>
        </tr>

      </table>


      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>